
nav {
  align-items: center;
  background-color: rgb(59, 98, 131, 1);
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1%;
  position: fixed;
  width: 15%;
}

.logo-title {
  font-family: Bangers;
  font-size: 200%;
  margin-bottom: 10%;
}

.nav-button {
  border-radius: 15px;
  color: #000000;
  font-family: arial;
  height: 30px;
  margin: 3%;
  width: 90%;
}

.nav-button.selected {
  background-color: #82c6ff;
  border: 2px solid #e85a5a;
}

.nav-button:hover {
  cursor: pointer;
  transform: scale(1.08);
  transition: transform .5s;
}
