* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

.news-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-image: url(../images/skyline_background.jpg); */
}
