* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

.app {
  display: flex;
  /* background-image: url(../images/city_background.jpg); */
  background: #433399;
  /* height: 100vh; */
  text-align: center;
  width: 100%;
}
