
.search-form-container {
  position: fixed;
  margin-top: -60px;
  background-color: rgb(232, 90, 90, 1);
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5%;
}

.search-input {
  border-radius: 15px;
  padding-left: 1%;
  height: 30px;
  width: 30%;
  color: #000000;
}

.search-button {
  color: #000000;
  margin-left: 4%;
  height: 30px;
  border-radius: 15px;
  width: 10%;
}

.search-button:hover {
  cursor: pointer;
}
